@font-face {
  font-family: "iconfont"; /* Project id 4540154 */
  src: url('iconfont.woff2?t=1715301204932') format('woff2'),
       url('iconfont.woff?t=1715301204932') format('woff'),
       url('iconfont.ttf?t=1715301204932') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e6a2";
}

