@font-face {
  font-family: "iconfont"; /* Project id 4203997 */
  src: url('iconfont.woff2?t=1696902862570') format('woff2'),
       url('iconfont.woff?t=1696902862570') format('woff'),
       url('iconfont.ttf?t=1696902862570') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yingshoukuan:before {
  content: "\e60f";
}

.icon-zhiwei:before {
  content: "\e7bd";
}

.icon-jiaoseguanli:before {
  content: "\e623";
}

.icon-bumen2:before {
  content: "\e651";
}

.icon-renshixinxishezhi:before {
  content: "\e600";
}

.icon-yuangongguanli:before {
  content: "\ea41";
}

.icon-zhanghaozuzhi:before {
  content: "\e6f2";
}

.icon-xiaoshou:before {
  content: "\e612";
}

.icon-complete:before {
  content: "\e677";
}

.icon-shengchanjihuasheding:before {
  content: "\e9e9";
}

.icon-xiaoshoumubiao:before {
  content: "\e6d7";
}

.icon-tianjiahaoyouchenggong_huaban1:before {
  content: "\e60c";
}

.icon-addfollow:before {
  content: "\e60e";
}

.icon-shanchuyonghu:before {
  content: "\e64e";
}

.icon-gongsi1:before {
  content: "\e769";
}

.icon-bumen1:before {
  content: "\e686";
}

.icon-zhufenzu:before {
  content: "\e606";
}

.icon-bumen:before {
  content: "\e62b";
}

.icon-gongsi:before {
  content: "\e65e";
}

