* {
    padding: 0px;
    margin: 0px;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000;
    background: rgb(255, 255, 255);
}

#module {
    height: 100%;
}

#app {
    height: 100%;
}


/*登录*/

.login {
    background: url(@/assets/img/bg.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    perspective: 800px;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    /* background: rgba(255, 255, 255, .3); */
    padding: 40px;
}

.login-box {
    width: 250px;
    height: 200px;
    margin: 0 10px;
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.login-box i {
    font-size: 40px;
}

.login-form {
    width: 74vh;
    padding: 20px;
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 1.8);
    /* position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); */
    text-align: center;
    border: 1px solid #fff;
}

.login-form .el-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    line-height: 32px;
    position: relative;
    font-size: var(--font-size);
    min-width: 0;
    justify-content: center;
}

.login-form .el-form-item__content .el-button {
    margin-left: -70px;
}

.login-form .login-title,
.login-form .el-form-item__label {
    color: #fff;
}

.login .login-title {
    font-size: 25px;
    margin: 20px 0;
}

.login .login-button {
    margin-left: -70px;
    width: 100px;
}

.exit {
    float: right;
    margin: 10px;
    padding: 2px 10px;
    background: #233444;
    border: none;
    color: #fff;
}

#module .routerView {
    height: calc(100vh-110px);
    animation-name: fadeInLeft;
    animation-duration: 0.74s;
}


/* 首页 */

#module .el-container {
    height: 100%;
}

#module .el-container .el-header {
    /* border-bottom: 1px solid #f1f1f1;  
    background: #20266d; */
    color: #000;
    /* border-bottom: 1px solid #bbb; */
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 50px;
    /*  background-color: #0079ec; */
    background: #454a5b linear-gradient(345deg, rgba(0, 255, 95, .5), #0079ec)
}

#module .el-container .el-header .logo {
    /* background: url("@/assets/img/logo.png") no-repeat;
    height: 60px;
    width: 161px; 
    overflow: hidden;
    background-size: cover;
    margin-top: -14px;*/
    font-size: 28px;
    padding: 6px 0 0 15px;
    color: #ccc
}

#module .el-container .el-header .center {
    color: #fff;
}

#module .el-container .el-header .right {
    display: flex;
    justify-content: flex-end;
}

#module .el-container .el-header .exit {
    margin-top: 10px;
}

#module .el-container .el-main .top {
    border-bottom: 1px solid #aaa;
    /* margin-bottom: 10px;
    padding: 7px; */
    height: 49px;
}

#module .el-container .el-main .top~div {
    margin: 20px;
}

#module .el-container .el-main .top::after {
    content: '';
    display: block;
    clear: both;
}

#module .el-container .el-main .top .expand {
    font-size: 28px;
    float: left;
    cursor: pointer;
    padding-top: 8px;
}


/* 面包屑 */

#module .el-container .el-main .top .topBreadcrumb {
    float: left;
    margin-left: 5px;
    font-size: 18px;
    margin-top: 12px;
}

#module .el-container .el-main .top .topBreadcrumb .breadcrumb {
    /* padding: 20px; */
    display: inline-block;
}

#module .el-container .el-main .top .topBreadcrumb .breadcrumb ul li {
    display: inline-block;
}

#module .el-container .el-main .top .topBreadcrumb .breadcrumb ul li span {
    padding: 0 5px;
}

#module .el-carousel__item img {
    color: #fff;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
    max-width: 100%;
}

#module .breadcrumb .el-breadcrumb__item .el-breadcrumb__inner,
#module .breadcrumb .el-breadcrumb__item .el-breadcrumb__inner a {
    color: #000;
}

#module .breadcrumb .el-breadcrumb__item:last-child a {
    color: #0079ec;
    font-weight: bold;
}

#module .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

#module .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}


/* 首页主体部分 */

#module .index-content {
    display: flex;
    width: 100%;
}

#module .index-content .content-left {
    flex: 30%;
}

#module .index-content .content-right {
    flex: 70%;
}

#module .index-content .content {
    margin: 10px;
    background: #fff;
}

#module .el-main {
    padding: 0;
    border-left: 1px solid #bbb;
}

#module div.el-input__wrapper:has(input[id*=date]) {
    padding: 0;
    width: 100%
}

#module div.el-input__wrapper:has(input[id*=date])>span:first-child {
    padding-left: 15px;
}

.pagination {
    margin: 10px 0;
}